/mid_term/task1_finetuning/CUB_200_2011.tgz
/mid_term/task1_finetuning/CUB_200_2011
/mid_term/task1_finetuning/runs
/mid_term/task1_finetuning/attributes.txt
/mid_term/task1_finetuning/draft.txt
/mid_term/task2_finetuning/fasterRCNN/epoch_4.pth
/mid_term/task2_finetuning/yolov3/epoch_6.pth

/final/task1_self_supervised_learning/data
/final/task1_self_supervised_learning/runs
/final/task1_self_supervised_learning/logs
/fianl/task2_transformer_vs_CNN/data
/fianl/task2_transformer_vs_CNN/runs
